---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?user=PDmdJVYAAAAJ&hl=en}}">my Google Scholar profile</a>.</div>
{% endif %}
{% include base_path %}
<div

<p align="left">
  <details>
    <summary>2026</summary>

    <p>
      Maboudi, M., et al.
      PC2Model: ISPRS benchmark on 3D point cloud to model registration.
      <i>arXiv preprint</i>, 2026.
      <a href="https://doi.org/10.48550/arXiv.2604.19596">Download Paper</a>,
      <a href="https://mehdimaboudi.github.io/files/2026-PC2Model.bib">Download BibTeX</a>,
      <a href="https://zenodo.org/uploads/17581812">Dataset (Zenodo)</a>,
      <a href="https://github.com/saidharb/PC2Model.git">Tools & Scripts</a>
    </p>

    <p>
      Mawas, K., Maboudi, M., and Gerke, M.
      A review on geometry and surface inspection in 3D concrete printing.
      <i>Cement and Concrete Research</i>, 2026.
      <a href="https://doi.org/10.1016/j.cemconres.2025.108030">Download Paper</a>,
      <a href="https://mehdimaboudi.github.io/files/2026-Karam_ReviewPaper.bib">Download BibTeX</a>
    </p>

  </details>
</p>


<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



