---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?user=PDmdJVYAAAAJ&hl=en}}">my Google Scholar profile</a>.</div>
{% endif %}
<div class="wordwrap"> test
{% include base_path %}
<div

<p align="center">
  <details>
    <summary>2026</summary>

    <a Maboudi, Mehdi, et al. PC2Model: ISPRS benchmark on 3D point cloud to model registration. arXiv preprint,2026
    href="https://doi.org/10.48550/arXiv.2604.19596">Paper</a>,
    <a href="https://zenodo.org/uploads/17581812">Dataset (Zenodo)</a>,
    <a href="https://github.com/saidharb/PC2Model.git">Tools & Scripts</a>

  </details>
</p>



<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



