---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

* [Machine Learning](https://www.tu-braunschweig.de/en/igp/mitarbeiter/mehdi-maboudi/teaching/ml-1) (IGP/TUBS), *Lecturer – Master program* [Summer Semester: 2022 - 2025]
  * [Deep Learning](https://www.tu-braunschweig.de/igp/lehre/master/dl-rs) (IGP/TUBS), *Lecturer – Master program* [Summer Semester: 2022 - 2025]
  * Student's final projects: [2023](https://deep-learning-igp-tubs-sose2023.github.io/), [2024](https://deep-learning-igp-tubs-sose2024.github.io/), 2025
